body {
  color: white;
  font-family: "Arial";
}

#redHeader {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: darkred;
  font-style: bold;
  font-size: 30px;
}

#grayHeader {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(63, 62, 62);
  font-style: bold;
}

p {
	margin: 1em 0;
}

a {
  float: right;
  padding-right: 10px;
  color: white;
}

h1 {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.mainText {
  color: black;
  font-family: Arial;
  float: left;
  padding-left: 40px;
  padding-top: 20px;
}

.artMuseum {
  margin: auto;
  width: 65%;
  float: left;
}

.artMuseum img {
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
}

.otherPhotos {
  padding-top: 20px;
  margin: auto;
  width: 20%;
  float: right;
}

.otherPhotos img {
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(63, 62, 62);
  clear: both;
}